* {
  margin: 0;
  padding: 0;

  --gray: #efefef;
  --accent: #f13c6e;
  --dark: #333;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 10px;
  background-color: var(--gray);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  font-style: normal;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.button {
  background: #fff;
  border: 0.2rem solid var(--accent);
  border-radius: 4rem;
  width: 17rem;
  height: 4rem;
}

.topLine {
  height: 5rem;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.menu {
  list-style: none;
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  color: var(--dark);
}

.secondLine {
  padding-top: 2rem;
  padding-bottom: 3rem;
  background-color: #fff;
}

.secondLine-line,
.footer-line {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
}

.line {
  border: 0.1rem solid var(--gray);
  height: 0;
  width: 100%;
  margin-bottom: 3rem;
}

.line-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line-logo {
  gap: 2rem;
}

.line-phone {
  gap: 4rem;
}

.line-logo__text {
  font-weight: 700;
  font-size: 3.6rem;
  letter-spacing: 0.1em;
  color: var(--accent);
}

.line-phone__number {
  font-size: 1.6rem;
  color: #000;
}

.line-search {
  margin-left: 17.2rem;
  margin-right: 9.3rem;
  border-radius: 4rem;
  width: 25rem;
  height: 4rem;
  background: var(--gray);
  background-image: url('../img/search.png');
  background-repeat: no-repeat;
  background-position: 2rem 1rem;
  border: none;
}

.secondLine-menu {
  font-size: 1.6rem;
  color: #000;
  gap: 4rem;
}

.sale {
  position: relative;
  height: 60.4rem;
  box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.25);
  background-image: url('../img/sale.png');
  background-color: var(--accent);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.sale-data {
  position: absolute;
  width: 30.8rem;
  height: 21.9rem;
  top: 19.1rem;
  left: 40.5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.sale-data__title {
  font-size: 4.8rem;
  font-weight: 700;
  color: #fff;
}
.sale-data__info {
  color: #fff;
  line-height: 2rem;
}

.sale-data__btn {
  background: var(--accent);
  color: #fff;
  border: 2px solid #fff;
}

.goods {
  width: 111rem;
  max-width: 100%;
  margin: auto;
  padding-top: 8rem;
  gap: 3rem;
  margin-bottom: 10.5rem;
}

.goods-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.goods-title {
  align-self: start;
  font-weight: 700;
  font-size: 2.4rem;
  color: #000;
}

.goods-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 25.5rem;
  height: 36.3rem;
  background-color: #fff;
}

.goods-item__img {
  width: 12.5rem;
  height: 16.6rem;
}

.goods-item__info {
  width: 19.5rem;
  line-height: 141%;
  text-align: center;
  color: var(--dark);
}

.goods-item__price {
  font-weight: 500;
  font-size: 2.1rem;
  letter-spacing: 0.05em;
  text-align: center;
  color: #000;
}

.goods-item__btn {
  border-radius: 3rem;
  width: 13rem;
  height: 3.5rem;
  background-color: var(--accent);
  letter-spacing: 0.05em;
  text-align: center;
  color: #fff;
}

.about {
  gap: 3rem;
  width: 111rem;
  max-width: 100%;
  margin: auto;
  flex-direction: row;
  margin-bottom: 9.9rem;
}

.about-wrapper {
  width: 54rem;
  height: 21.2rem;
  padding-left: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: flex-start;
  justify-content: center;
  background: var(--accent);
  background-repeat: no-repeat;
  background-position: right 4.5rem top 5rem;
}

.subscribe {
  background-image: url('../img/letter.png');
}

.shops {
  background-image: url('../img/car.png');
}

.about-title {
  font-weight: 700;
  font-size: 1.8rem;
  color: #fff;
}

.about-info {
  max-width: 23.1rem;
  width: 100%;
  line-height: 141%;
  color: #fff;
}

.about-input {
  width: 22.5rem;
  height: 3.5rem;
  border-radius: 3rem;
  border: none;
  background: #fff;
}

.about-input::placeholder {
  padding-left: 2rem;
  color: #c4c4c4;
}

.about-btn {
  width: 17rem;
  height: 3.5rem;
  border: 0.2rem solid #fff;
  color: #fff;
  border-radius: 3rem;
  background: var(--accent);
}

.brands {
  width: 111rem;
  max-width: 100%;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 8rem;
}

.brand {
  width: 27.75rem;
  height: 11.93rem;
  background-color: #fff;
  background-image: url('../img/brand.png');
  background-repeat: no-repeat;
  background-position: center center;
  border: 0.1rem solid var(--gray);
}

.goods-last {
  padding-top: 0;
  margin-bottom: 8rem;
}

.footer {
  padding-top: 7rem;
  background-color: #fff;
}

.category-wrapper {
  width: 112rem;
  max-width: 100%;
  margin: auto;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 6rem;
}

.footer-category {
  display: flex;
  flex-direction: column;
  width: 25.5rem;
  height: 25.3rem;
}

.footer-category__list {
  list-style: none;
}

.footer-category__title {
  margin-bottom: 3rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 141%;
  color: #000;
}

.footer-category__line {
  margin-bottom: 2.5rem;
  border: 0.1rem solid var(--gray);
  width: 25.5rem;
  height: 0;
}

.category__list-item {
  font-size: 1.2rem;
  line-height: 233%;
  color: #828282;
}

.footer-line {
  display: flex;
}

.footer-line__icons {
  display: flex;
  gap: 2rem;
  margin-right: 20.5rem;
}

.footer-icon {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100%;
  border: 0.2rem solid var(--accent);
  background-position: center center;
  background-repeat: no-repeat;
}

.icon-youtube {
  background-image: url('../img/icon-youtube.png');
}
.icon-vk {
  background-image: url('../img/icon-vk.png');
}
.icon-face {
  background-image: url('../img/icon-face.png');
}
.icon-inst {
  background-image: url('../img/icon-inst.png');
}

.footer-line__addres {
  margin-right: 10.4rem;
}

.footer-line__phone {
  margin-right: 4rem;
}

.footer-bottom {
  background-color: var(--gray);
  width: 100%;
}
.bottom-wrapper {
  margin: auto;
  max-width: 111rem;
  width: 100%;
  height: 6.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom__copyRights {
  font-size: 1.2rem;
  color: #828282;
}
